
NAME="messages"

# SECURITY WARNING: protect SECRET_KEY keep in private env file
SECRET_KEY = 'django-insecure-secret-key'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True
ALLOWED_HOSTS=""

# Internationalization
LANGUAGE_CODE='en-us'
TIME_ZONE="UTC"
USE_TZ=True

# Database(s)
# Database SQL-Lite local storage
SQLITE="./data/db.sqlite3"

# Database Postgres
DBENGINE="django.db.backends.postgresql"
PGHOST="localhost"
PGPORT="5432"
PGNAME="postgres"
PGUSER="user"
PGPASSWORD="password"

# Database Cache storage (Redis)
REDISHOST="localhost"
REDISPORT="6379"
CACHEDB="redis://127.0.0.1:6379/0"

# Celery
CELERY_BROKER_URL="redis://localhost:6379"
CELERY_RESULT_BACKEND="redis://localhost:6379"
CELERY_ACCEPT_CONTENT="application/json"
CELERY_RESULT_SERIALIZER="json"
CELERY_TASK_SERIALIZER="json"



