
NAME="messages"

# SECURITY WARNING: don't run with debug turned on in production!
SECRET_KEY = 'django-insecure-(_o22qg_u8==j=vnlz^y2*5nujqsjy6io+_i&)y#$m^=q!x+e='

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True
ALLOWED_HOSTS=""

# Internationalization
LANGUAGE_CODE='en-us'
TIME_ZONE="UTC"
USE_TZ=True

# Database(s)
# Database SQL-Lite local storage
SQLITE="./data/db.sqlite3"

# Database Postgres
DBENGINE="django.db.backends.postgresql_psycopg2"
PGHOST="localhost"
PGPORT="5432"
PGNAME="postgres"
PGUSER="user"
PGPASSWORD="password"

# Database Cache storage (Redis)
CACHEDB="redis"



